{% load staticfiles %}
<html>
<head>
	<title>{{ headinfo.title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/header.css'%}">
</head>
<body>
<div class="banner" id="top">
	<div class="logo">
	<a id="blog_name" href="#a">{{ headinfo.blogname }}</a>
	<p id="blog_description">{{ headinfo.blogdescription }}</p>
	</div>
	<div class="navigation">
	<ul>
		{% for navigation in navigation_list %}
		<li class="nav">
		<a class="nav_title" href="#b">{{ navigation.nav_title }}</a>
		</li>
		{% endfor %}
	</ul>
	</div>
</div>

<div class="title">
	<p class="title">首页</p>
</div>
	
</body>
</html>
