{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}" />
</head>

<body>
{% for post in latest_post_list %}
	<h1>{{ post.post_title }}</h1>
	<hr />
	<h2>{{ post.post_author }}</h2>
	<p id="red">{{ post.post_timestamp }}</p>
	<hr />
	<p id="blue">{{ post.post_content }}</p>
{% endfor %}
<ul>
	<li>Coffee</li>
	<li>Tea</li>
	<li>Milk</li>
</ul>
<div id="div">
	<p id="para">This is a paragragh</p>
</div>
<a href="http://www.w3school.com.cn">Visit W3School</a>

<table border="1">
	<tr>
		<th>Month</th>
		<th>Saving</th>
	</tr>			
	<tr>
		<td>January</td>
		<td>$100</td>
	</tr>
</table>

<hr />

<table id="customers">
	<tr>
		<th>Company</th>
		<th>Contact</th>
		<th>Country</th>
	</tr>

	<tr>
		<td>Apple</td>
		<td>Steven jobs</td>
		<td>USA</td>
	</tr>
	
	<tr class="alt">
		<td>Baidu</td>
		<td>Li YanHong</td>
		<td>China</td>
	</tr>

	<tr>
		<td>Google</td>
		<td>Larry Page</td>
		<td>USA</td>
	</tr>
	
	<tr class="alt">
		<td>Lenovo</td>
		<td>Liu Chuanzhi</td>
		<td>China</td>
	</tr>

	<tr Microsoft>
		<td>Microsoft</td>
		<td>Bill Gates</td>
		<td>USA</td>
	</tr>

	<tr class="alt">
		<td>Nokia</td>
		<td>Stephen Elop</td>
		<td>Finland</td>
	</tr>

</body>
<html>
