h1,h2 {
	color: green;
}

body {
	font-family: Verdana, sans-serif;
}

#ss p {
	font-family: Times, "Times New Roman", serif;
	background-color: gray;
	padding: 20px;
	text-indent: -5em;
	padding-left: 5em;
}

#div {
	width: 500px;
	background-color: gray;	
}
#para {text-indent: 20%}

#link:link {
	color:#FF0000;
	text-decoration:none;
	background-color:#B2FF99;
}
#link:visited {
	color:#00FF00;
	text-decoration:none;
	background-color:#FFFF85;
}
#link:hover {
	color:#FF00FF;
	text-decoration:underline;
	background-color:#FF704D;
}
#link:active {
	color:#0000FF;
	text-decoration:underline;
	background-color:#FF704D;
}

ul.square {list-style-type: square;}


/* 为#div设置边框 */
#div  {
	border-style: solid;
	border-width: thick;
}

/* 表格表格属性 */
#ss table, td, th {
	border: 1px solid green;
}
#ss th {
	background-color: green;
	color: white
}
#ss td {
	background-color: red;
	color: black;
}

/* 如何制作一个漂亮的表格 */
#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

#customers td, #customers th{
	font-size: 1em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

#customers th
{
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #ffffff;
}

#customers tr.alt td{
	color: #000000;
	background-color: #EAF2D3;
}

/* END */


/* 使用像素值设置图像的高度 */
img.normal {
	height: auto;
}

img.big {
	height: 500px;
}

img.small {
	height: 30px;
}

/* END */

/* CSS导航条：链接列表 */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 6px;
	padding-bottom: 6px;
}

li {
	display: inline;
}

a:link, a:visited {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {
	background-color: #7A991A;
}



#red {color: red;}
#blue {
	color: blue;
	text-decoration: underline;
	white-space: pre-wrap;
	font-family: Times;
}
